import("mzR", "data.table", "enviPat", "Matrix", "shiny", "plotly", "MassSpecWavelet")
exportPattern("runTarMet", 
              "LoadData", 
              "getEIC", 
              "getIsoPat", 
              "getIsoEIC.formula",
              "getIsoEIC.tracer",
              "getIsoEIC.mz",
              "getIsoPeaks", 
              "getIsoSimi",
              "getArea", 
              "airPLS", 
              "integration", 
              "PAFFT",
              "getElements",
              "getElementNum",
              "plotEICs")