import("mzR", "data.table", "enviPat", "Matrix", "shiny", "plotly", "MassSpecWavelet", "MSnbase")
exportPattern("runTarMet",
              
              # INPUT FUNCTIONS
              "getSampleName",
              "getCandidateFormula",
              "getTargets",
              "getElements",
              "getElementNum",
              
              # DATA PROCESS FUNCTIONS
              "LoadData", 
              "getEIC", 
              "getIsotopicPattern",
              "getMzWithTracer",
              "getMzRanges",
              "getMzEICs",
              
              # PEAK DETECTION
              "getIsotopicPeaks",
              "getArea",
              "getIsotopicSimilarity",
              "widthEstimationCWT",
              "extendNBase",
              "extendLength",
              "integration",
              
              # BASELINE
              "airPLS",
              "WhittakerSmooth",
              
              # ALIGNMENT
              "getAlignedEICs",
              "PAFFT",
              "getQuantifiedResult",
              
              # PLOT
              "plotEICs",
              "plotStackBar")